@model IEnumerable<Employee>

@{
    ViewBag.Title = "Employees";
}

<div class="card-deck">
    @foreach (var item in Model)
    {
        <div class="card- m-3">
            <div class="card-header">
                <h3>@item.Id</h3>
            </div>
            <img class="card-img-top" src="~/images/download1.jpg" />
            <div class="card-body">
                <p>Name: @item.Name </p>
                <p>Email: @item.Email</p>
                <p>Department: @item.Department</p>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="home" asp-action="employee" asp-route-id="item.Id" class="btn btn-primary">Display</a>
                <a href="/home/employee/@item.Id" class="btn btn-primary">View</a>
                <a href="/home/employee/@item.Id" class="btn btn-primary">Edit</a>
                <a href="/home/employee/@item.Id" class="btn btn-danger">Delete</a>
            </div>
        </div>
    }
</div>
@* This is the way of defining Optional Part in the Layout View *@
@section Scripts {
    @*<script src="~/js/JavaScript.js"></script>*@
}
